<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="190.000000pt" height="20.000000pt" viewBox="0 0 190.000000 20.000000"
 preserveAspectRatio="xMidYMid meet">
<g transform="translate(0.000000,20.000000) scale(0.100000,-0.100000)"
fill="var(--Background-Clouds-Color)" stroke="none">
<path d="M490 180 c0 -18 -7 -20 -85 -20 -78 0 -85 -2 -85 -20 0 -17 -7 -20
-40 -20 -33 0 -40 -3 -40 -20 0 -18 -7 -20 -80 -20 -73 0 -80 -2 -80 -20 0
-17 -7 -20 -40 -20 -33 0 -40 -3 -40 -20 0 -20 7 -20 950 -20 l950 0 0 25 c0
24 -2 25 -65 25 -58 0 -65 2 -65 20 0 18 -7 20 -80 20 -64 0 -80 3 -80 15 0
13 -20 15 -120 15 -113 0 -120 1 -120 20 0 19 -7 20 -140 20 -133 0 -140 1
-140 20 0 20 -7 20 -300 20 -293 0 -300 0 -300 -20z"/>
</g>
</svg>
