<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="77.000000pt" height="17.000000pt" viewBox="0 0 77.000000 17.000000"
 preserveAspectRatio="xMidYMid meet">
<g transform="translate(0.000000,17.000000) scale(0.100000,-0.100000)"
fill="var(--Background-Clouds-Color)" stroke="none">
<path d="M240 150 c0 -18 -7 -20 -80 -20 -73 0 -80 -2 -80 -20 0 -17 -7 -20
-40 -20 -36 0 -40 -2 -40 -25 l0 -25 120 0 c100 0 120 -2 120 -15 0 -13 26
-15 173 -15 94 0 202 -3 240 -7 l67 -6 0 27 c0 21 5 26 25 26 18 0 25 5 25 20
0 18 -7 20 -85 20 -78 0 -85 2 -85 20 0 18 -7 20 -55 20 -48 0 -55 2 -55 20 0
19 -7 20 -125 20 -118 0 -125 -1 -125 -20z"/>
</g>
</svg>
