<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="301.000000pt" height="116.000000pt" viewBox="0 0 301.000000 116.000000"
 preserveAspectRatio="xMidYMid meet">
<g transform="translate(0.000000,116.000000) scale(0.100000,-0.100000)"
fill="var(--Foreground-Clouds-Color)" stroke="none">
<path d="M1318 1138 c-2 -18 -11 -24 -34 -26 -22 -2 -34 -9 -37 -23 -3 -11
-14 -19 -26 -19 -12 0 -21 -6 -21 -15 0 -7 -6 -18 -14 -22 -8 -4 -16 -24 -18
-43 -2 -27 -8 -36 -25 -38 -17 -3 -23 -11 -25 -40 -3 -43 -35 -59 -45 -23 -5
18 -13 21 -60 21 -46 0 -56 3 -60 20 -5 18 -14 20 -113 20 -99 0 -108 -2 -113
-20 -4 -17 -14 -20 -60 -20 -46 0 -55 -3 -60 -20 -3 -12 -14 -20 -26 -20 -12
0 -21 -6 -21 -15 0 -7 -6 -18 -13 -22 -8 -4 -16 -16 -20 -25 -3 -10 -16 -18
-27 -18 -16 0 -20 -6 -20 -35 0 -19 -6 -38 -14 -42 -8 -4 -16 -24 -18 -43 l-3
-35 -81 -3 c-72 -2 -83 -5 -87 -22 -3 -11 -12 -20 -21 -20 -11 0 -16 -14 -18
-57 l-3 -58 -51 -3 c-42 -2 -53 -7 -57 -22 -4 -16 -14 -20 -46 -20 -31 0 -41
-4 -41 -16 0 -9 -9 -18 -20 -21 -18 -5 -20 -14 -20 -79 0 -68 2 -74 20 -74 11
0 23 -7 26 -15 4 -9 19 -15 41 -15 26 0 36 -5 40 -20 5 -17 14 -20 60 -20 46
0 56 -3 60 -20 5 -20 14 -20 373 -20 359 0 368 0 373 20 4 15 14 20 40 20 26
0 36 5 40 20 3 11 14 20 25 20 11 0 22 9 25 20 7 25 37 26 44 1 3 -11 13 -21
24 -24 10 -3 19 -12 19 -21 0 -13 11 -16 51 -16 42 0 52 -3 56 -20 5 -18 14
-20 85 -20 71 0 80 -2 85 -20 5 -19 14 -20 253 -20 239 0 248 1 253 20 5 18
14 20 105 20 91 0 100 2 105 20 4 15 14 20 40 20 26 0 36 5 40 20 7 25 37 26
44 1 3 -11 13 -21 24 -24 10 -3 19 -12 19 -21 0 -13 14 -16 89 -16 80 0 89 2
94 20 3 12 14 20 26 20 12 0 21 5 21 10 0 6 -18 10 -40 10 -30 0 -42 5 -47 18
-4 9 -13 22 -21 27 -21 16 -12 89 11 93 12 3 20 -4 24 -17 4 -16 13 -21 40
-21 26 0 36 -5 40 -20 5 -18 14 -20 73 -20 59 0 68 2 73 20 4 15 14 20 41 20
26 0 36 4 36 16 0 9 9 18 20 21 28 7 28 59 0 66 -11 3 -20 14 -20 25 0 11 -9
22 -20 25 -11 3 -20 12 -20 21 0 11 -9 16 -31 16 -22 0 -32 5 -36 19 -4 14
-15 21 -42 23 -32 3 -36 6 -39 35 -2 24 -9 33 -25 35 -17 2 -23 11 -25 39 -2
27 -9 38 -23 42 -11 3 -19 14 -19 26 0 14 -5 19 -16 14 -10 -4 -17 1 -21 16
-3 11 -12 21 -20 21 -8 0 -17 9 -20 19 -3 14 -15 21 -37 23 -30 3 -31 4 -34
60 -3 50 -6 57 -25 60 -14 2 -23 11 -25 26 -3 20 -9 22 -58 22 l-54 0 0 -34
c0 -28 4 -35 23 -38 16 -2 22 -10 22 -28 0 -22 -5 -25 -38 -28 -32 -3 -39 0
-44 17 -3 12 -14 21 -25 21 -11 0 -22 9 -25 20 -4 15 -14 20 -40 20 -26 0 -36
5 -40 20 -5 17 -14 20 -60 20 -46 0 -56 3 -60 20 -5 18 -15 20 -122 22 l-116
3 -3 43 c-2 28 -8 42 -17 42 -8 0 -18 6 -22 14 -4 8 -24 16 -43 18 -27 2 -36
8 -38 26 -3 22 -6 22 -137 22 -131 0 -134 0 -137 -22z"/>
<path d="M960 1100 c0 -15 -7 -20 -25 -20 -18 0 -25 -5 -25 -20 0 -13 -7 -20
-20 -20 -13 0 -20 -7 -20 -20 0 -18 7 -20 65 -20 58 0 65 -2 65 -20 0 -17 7
-20 40 -20 33 0 40 3 40 20 0 15 7 20 25 20 23 0 25 4 25 40 0 36 -2 40 -25
40 -18 0 -25 5 -25 20 0 18 -7 20 -60 20 -53 0 -60 -2 -60 -20z"/>
<path d="M2870 260 c0 -13 -7 -20 -20 -20 -13 0 -20 -7 -20 -20 0 -17 -7 -20
-40 -20 -33 0 -40 -3 -40 -20 0 -18 -7 -20 -60 -20 -53 0 -60 -2 -60 -20 0
-19 7 -20 165 -20 158 0 165 1 165 20 0 15 7 20 25 20 23 0 25 4 25 40 0 33
-3 40 -20 40 -13 0 -20 7 -20 20 0 17 -7 20 -50 20 -43 0 -50 -3 -50 -20z"/>
<path d="M1070 140 c0 -11 -7 -20 -15 -20 -11 0 -15 -11 -15 -40 l0 -40 40 0
c33 0 40 -3 40 -20 0 -18 7 -20 85 -20 78 0 85 2 85 20 0 11 7 20 15 20 8 0
15 9 15 20 0 11 -7 20 -15 20 -8 0 -15 9 -15 20 0 18 -7 20 -60 20 -53 0 -60
2 -60 20 0 17 -7 20 -50 20 -43 0 -50 -3 -50 -20z"/>
</g>
</svg>
