<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="306.000000pt" height="116.000000pt" viewBox="0 0 306.000000 116.000000"
 preserveAspectRatio="xMidYMid meet">
<g transform="translate(0.000000,116.000000) scale(0.100000,-0.100000)"
fill="var(--Foreground-Clouds-Color)" stroke="none">
<path d="M1410 1140 c0 -17 -7 -20 -40 -20 -29 0 -40 -4 -40 -15 0 -8 -9 -15
-20 -15 -13 0 -20 -7 -20 -20 0 -13 -7 -20 -20 -20 -17 0 -20 -7 -20 -45 l0
-45 -55 0 c-48 0 -55 2 -55 20 0 17 -7 20 -40 20 -33 0 -40 3 -40 20 0 19 -7
20 -125 20 -118 0 -125 -1 -125 -20 0 -17 -7 -20 -40 -20 -33 0 -40 -3 -40
-20 0 -15 -7 -20 -25 -20 -22 0 -25 -4 -25 -40 l0 -40 -135 0 c-113 0 -135 -2
-135 -15 0 -12 -14 -15 -65 -15 -63 0 -65 -1 -65 -25 0 -22 -4 -25 -40 -25
-33 0 -40 -3 -40 -20 0 -13 -7 -20 -20 -20 -13 0 -20 -7 -20 -20 0 -13 -7 -20
-20 -20 -17 0 -20 -7 -20 -40 l0 -40 -40 0 c-29 0 -40 -4 -40 -15 0 -8 -9 -15
-20 -15 -18 0 -20 -7 -20 -65 0 -63 1 -65 25 -65 18 0 25 -5 25 -20 0 -19 7
-20 100 -20 l100 0 0 -65 c0 -51 3 -65 15 -65 8 0 15 -7 15 -15 0 -13 23 -15
145 -15 138 0 145 1 145 20 0 16 7 20 35 20 28 0 35 -4 35 -20 0 -17 7 -20 40
-20 36 0 40 -2 40 -25 0 -18 5 -25 20 -25 11 0 20 -7 20 -15 0 -12 -18 -15
-100 -15 -93 0 -100 -1 -100 -20 0 -17 -7 -20 -40 -20 -33 0 -40 -3 -40 -20 0
-17 7 -20 45 -20 41 0 45 -2 45 -25 0 -24 3 -25 60 -25 47 0 60 -3 60 -15 0
-13 40 -15 300 -15 293 0 300 0 300 20 0 18 7 20 65 20 63 0 65 1 65 25 0 20
-5 25 -25 25 -16 0 -25 6 -25 15 0 12 19 15 115 15 108 0 115 -1 115 -20 0
-13 -7 -20 -20 -20 -13 0 -20 -7 -20 -20 0 -15 7 -20 25 -20 18 0 25 -5 25
-20 0 -16 7 -20 35 -20 28 0 35 -4 35 -20 0 -19 7 -20 105 -20 98 0 105 1 105
20 0 18 7 20 65 20 51 0 65 3 65 15 0 8 7 15 15 15 9 0 15 9 15 25 l0 25 145
0 c138 0 145 1 145 20 0 18 7 20 60 20 53 0 60 2 60 20 0 17 -7 20 -40 20 -33
0 -40 3 -40 20 0 19 7 20 260 20 253 0 260 1 260 20 0 18 7 20 55 20 48 0 55
2 55 20 0 15 7 20 25 20 23 0 25 4 25 40 0 36 -2 40 -25 40 -18 0 -25 5 -25
20 0 13 -7 20 -20 20 -13 0 -20 7 -20 20 0 13 -7 20 -20 20 -13 0 -20 7 -20
20 0 16 -7 20 -35 20 -28 0 -35 4 -35 20 0 18 -7 20 -65 20 l-65 0 -1 78 c-1
42 -3 69 -6 60 -9 -36 -33 -20 -33 22 0 33 -3 40 -20 40 -13 0 -20 7 -20 20 0
18 -7 20 -75 20 l-75 0 0 65 c0 63 -1 65 -25 65 -16 0 -25 6 -25 15 0 12 -14
15 -65 15 l-65 0 0 -40 c0 -36 3 -40 25 -40 18 0 25 -5 25 -20 0 -18 -7 -20
-60 -20 l-60 0 0 40 c0 33 -3 40 -20 40 -13 0 -20 7 -20 20 0 16 -7 20 -35 20
-28 0 -35 4 -35 20 0 19 -7 20 -180 20 -173 0 -180 1 -180 20 0 11 7 20 15 20
8 0 15 9 15 20 0 13 -7 20 -20 20 -15 0 -20 7 -20 25 0 23 -4 25 -40 25 -29 0
-40 4 -40 15 0 13 -22 15 -140 15 -133 0 -140 -1 -140 -20z"/>
<path d="M2820 850 c0 -15 -7 -20 -25 -20 -23 0 -25 -4 -25 -44 0 -39 2 -44
20 -39 15 4 20 0 20 -16 0 -19 5 -21 65 -21 58 0 65 -2 65 -20 0 -11 7 -20 15
-20 8 0 15 -9 15 -20 0 -17 7 -20 45 -20 l45 0 0 80 c0 73 -2 80 -20 80 -13 0
-20 7 -20 20 0 13 -7 20 -20 20 -13 0 -20 7 -20 20 0 18 -7 20 -80 20 -73 0
-80 -2 -80 -20z"/>
</g>
</svg>
