.topline, .botline {
    margin-left:calc(var(--Heading-Border-Height) * -1);
    width:calc(var(--Heading-Width) + (var(--Heading-Border-Height) * 2));
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border);
    border-top:var(--Heading-Border-Height) solid var(--Heading-Border-Shadow-1);
}

.botline {
    border-top:var(--Heading-Border-Height) solid var(--Heading-Border-Shadow-3);
}

.shad-a, .shad-b {
    display:flex;
    margin-left:calc(var(--Heading-Border-Height) * -1);
}

.sa-stub {
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border);
}

.sa-long {
    width:var(--Heading-Width);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-1);
}

.sb-stub {
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-1);
}

.sb-long {
    width:var(--Heading-Width);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-2);
}

.textarea:before {
    content:"";
    position:absolute;
    margin-left:calc(var(--Heading-Border-Height) * -7);
    margin-top:calc(var(--Heading-Border-Height) * -2);
    width:0;height:0;
    border-top:calc(var(--Heading-Border-Height) * 6) solid transparent;
    border-right:calc(var(--Heading-Border-Height) * 8) solid var(--Heading-Background);
    border-bottom:calc(var(--Heading-Border-Height) * 6) solid transparent;
    z-index:-1;
}

.textarea:after {
    content:"";
    position:absolute;
    margin-left:calc(var(--Heading-Width) - var(--Heading-Border-Height));
    margin-top:calc(var(--Heading-Border-Height) * -2);
    width:0;height:0;
    border-top:calc(var(--Heading-Border-Height) * 6) solid transparent;
    border-left:calc(var(--Heading-Border-Height) * 8) solid var(--Heading-Background);
    border-bottom:calc(var(--Heading-Border-Height) * 6) solid transparent;
    z-index:-1;
}

.bs-line-b {
    position:relative;
    margin-left:calc(var(--Heading-Border-Height) * -1);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-3);
    z-index:2;
}

.bs-line-c {
    position:relative;
    margin-left:calc(var(--Heading-Border-Height) * -2);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-2);
}

.bs-line-c:after {
    content:"";
    position:absolute;
    right:0;
    margin-right:calc(var(--Heading-Border-Height) * -1);
    width:calc(var(--Heading-Border-Height) * 2);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-2);
    z-index:3;
}
