.celery, .celery > div {
    position:absolute;
}

.stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 3);
    background:var(--Heading-Border);
    border-top:var(--Heading-Border-Height) solid var(--Heading-Border-Shadow-1);
    border-bottom:var(--Heading-Border-Height) solid var(--Heading-Border-Shadow-1);
}

.s1 {
    margin-top:var(--Heading-Border-Height);
    margin-left:calc(var(--Heading-Border-Height) * -2);
}

.s1:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -2);
    margin-left:var(--Heading-Border-Height);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-2);
}

.s2 {
    margin-top:calc(var(--Heading-Border-Height) * 2);
    margin-left:calc(var(--Heading-Border-Height) * -3);
}

.s3 {
    margin-top:calc(var(--Heading-Border-Height) * 3);
    margin-left:calc(var(--Heading-Border-Height) * -4);
}

.s4 {
    margin-top:calc(var(--Heading-Border-Height) * 4);
    margin-left:calc(var(--Heading-Border-Height) * -5);
}

.s5 {
    margin-top:calc(var(--Heading-Border-Height) * 5);
    margin-left:calc(var(--Heading-Border-Height) * -6);
}

.s5 .stumpy {
    border-bottom:var(--Heading-Border-Height) solid var(--Heading-Border);
}

.s6 {
    margin-top:calc(var(--Heading-Border-Height) * 6);
    margin-left:calc(var(--Heading-Border-Height) * -7);
}

.s6 .stumpy {
    border-bottom:0px solid transparent;
}

.s7 {
    margin-top:calc(var(--Heading-Border-Height) * 7);
    margin-left:calc(var(--Heading-Border-Height) * -9);
}

.s7 .stumpy {
    width:calc(var(--Heading-Border-Height) * 2);
    border-bottom:0px solid transparent;
}

.sidestub {
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * 8);
    margin-left:calc(var(--Heading-Border-Height) * -10);
    width:calc(var(--Heading-Border-Height) * 3);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border);
    border-left:var(--Heading-Border-Height) solid var(--Heading-Border-Shadow-1);
}

.s8 {
    margin-top:calc(var(--Heading-Border-Height) * 10);
    margin-left:calc(var(--Heading-Border-Height) * -9);
}

.s8:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -4);
    margin-left:calc(var(--Heading-Border-Height) * -1);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-3);
}

.s8 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:0px solid transparent;
    border-bottom:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border-Shadow-2);
}

.s9 {
    margin-top:calc(var(--Heading-Border-Height) * 10);
    margin-left:calc(var(--Heading-Border-Height) * -8);
}

.s9 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:var(--Heading-Border-Height) solid var(--Heading-Border);
    border-bottom:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border-Shadow-2);
}

.s10 {
    margin-top:calc(var(--Heading-Border-Height) * 10);
    margin-left:calc(var(--Heading-Border-Height) * -7);
}

.s10 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border);
    border-bottom:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border-Shadow-2);
}

.s11 {
    margin-top:calc(var(--Heading-Border-Height) * 10);
    margin-left:calc(var(--Heading-Border-Height) * -6);
}

.s11 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 3) solid var(--Heading-Border);
    border-bottom:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border-Shadow-2);
}

.s12 {
    margin-top:calc(var(--Heading-Border-Height) * 10);
    margin-left:calc(var(--Heading-Border-Height) * -5);
}

.s12:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -9);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-3);
}

.s12 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 4) solid var(--Heading-Border);
    border-bottom:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border-Shadow-2);
}

.s13 {
    margin-top:calc(var(--Heading-Border-Height) * 11);
    margin-left:calc(var(--Heading-Border-Height) * -4);
}

.s13:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -9);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-3);
}

.s13 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 4) solid var(--Heading-Border);
    border-bottom:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border-Shadow-2);
}

.s14 {
    margin-top:calc(var(--Heading-Border-Height) * 12);
    margin-left:calc(var(--Heading-Border-Height) * -3);
}

.s14:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -8);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-3);
}

.s14 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 4) solid var(--Heading-Border);
    border-bottom:var(--Heading-Border-Height) solid var(--Heading-Border-Shadow-2);
}

.s15 {
    margin-top:calc(var(--Heading-Border-Height) * 13);
    margin-left:calc(var(--Heading-Border-Height) * -2);
}

.s15:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -7);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-3);
}

.s15 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 4) solid var(--Heading-Border);
    border-bottom:0px solid transparent;
}

.s16 {
    margin-top:calc(var(--Heading-Border-Height) * 14);
    margin-left:calc(var(--Heading-Border-Height) * -1);
}

.s16:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -6);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-3);
}

.s16 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 1);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 4) solid var(--Heading-Border);
    border-bottom:0px solid transparent;
}

.stoo {
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-2);
}
