.nutcase {
    align-self:center;
}

.nutcase:first-of-type {margin-left:2px;}
.nutcase:last-of-type {margin-right:2px;}

.nutcase > * {
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border);
}

.n1 {
    margin-left:calc(var(--Heading-Border-Height) * 2);
    width:var(--Heading-Border-Height);
}

.n2 {
    margin-left:var(--Heading-Border-Height);
    width:calc(var(--Heading-Border-Height) * 3);
}

.n3 {
    width:calc(var(--Heading-Border-Height) * 5);
}

.n4.l {
    width:calc(var(--Heading-Border-Height) * 2);
    background:transparent;
    border-left:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border);
    border-right:var(--Heading-Border-Height) solid var(--Heading-Border);
}

.n4.r {
    width:calc(var(--Heading-Border-Height) * 2);
    background:transparent;
    border-left:var(--Heading-Border-Height) solid var(--Heading-Border);
    border-right:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border);
}

.n5 {
    margin-left:var(--Heading-Border-Height);
    width:var(--Heading-Border-Height);
    background:transparent;
    border-left:var(--Heading-Border-Height) solid var(--Heading-Border);
    border-right:var(--Heading-Border-Height) solid var(--Heading-Border);
}
