.c1 {
    margin-top:var(--Heading-Border-Height);
    margin-left:0px;
}

.c1:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -2);
    margin-left:calc(var(--Heading-Border-Height) * -1);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-2);
}

.c2 {
    margin-top:calc(var(--Heading-Border-Height) * 2);
    margin-left:var(--Heading-Border-Height);
}

.c3 {
    margin-top:calc(var(--Heading-Border-Height) * 3);
    margin-left:calc(var(--Heading-Border-Height) * 2);
}

.c4 {
    margin-top:calc(var(--Heading-Border-Height) * 4);
    margin-left:calc(var(--Heading-Border-Height) * 3);
}

.c5 {
    margin-top:calc(var(--Heading-Border-Height) * 5);
    margin-left:calc(var(--Heading-Border-Height) * 4);
}

.c5 .stumpy {
    border-bottom:var(--Heading-Border-Height) solid var(--Heading-Border);
}

.c6 {
    margin-top:calc(var(--Heading-Border-Height) * 6);
    margin-left:calc(var(--Heading-Border-Height) * 5);
}

.c6 .stumpy {
    border-bottom:0px solid transparent;
}

.c7 {
    margin-top:calc(var(--Heading-Border-Height) * 7);
    margin-left:calc(var(--Heading-Border-Height) * 6);
}

.c7 .stumpy {
    width:calc(var(--Heading-Border-Height) * 2);
    border-bottom:0px solid transparent;
}

.ccc.sidestub {
    margin-left:calc(var(--Heading-Border-Height) * 5);
    border-left:0px solid transparent;
    border-right:var(--Heading-Border-Height) solid var(--Heading-Border-Shadow-1);
}

.c8 {
    margin-top:calc(var(--Heading-Border-Height) * 10);
    margin-left:calc(var(--Heading-Border-Height) * 7);
}

.c8:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -4);
    margin-left:var(--Heading-Border-Height);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-3);
}

.c8 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:0px solid transparent;
    border-bottom:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border-Shadow-2);
}

.c9 {
    margin-top:calc(var(--Heading-Border-Height) * 10);
    margin-left:calc(var(--Heading-Border-Height) * 6);
}

.c9 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:var(--Heading-Border-Height) solid var(--Heading-Border);
    border-bottom:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border-Shadow-2);
}

.c10 {
    margin-top:calc(var(--Heading-Border-Height) * 10);
    margin-left:calc(var(--Heading-Border-Height) * 5);
}

.c10 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border);
    border-bottom:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border-Shadow-2);
}

.c11 {
    margin-top:calc(var(--Heading-Border-Height) * 10);
    margin-left:calc(var(--Heading-Border-Height) * 4);
}

.c11 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 3) solid var(--Heading-Border);
    border-bottom:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border-Shadow-2);
}

.c12 {
    margin-top:calc(var(--Heading-Border-Height) * 10);
    margin-left:calc(var(--Heading-Border-Height) * 3);
}

.c12:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -9);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-3);
}

.c12 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 4) solid var(--Heading-Border);
    border-bottom:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border-Shadow-2);
}

.c13 {
    margin-top:calc(var(--Heading-Border-Height) * 11);
    margin-left:calc(var(--Heading-Border-Height) * 2);
}

.c13:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -9);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-3);
}

.c13 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 4) solid var(--Heading-Border);
    border-bottom:calc(var(--Heading-Border-Height) * 2) solid var(--Heading-Border-Shadow-2);
}

.c14 {
    margin-top:calc(var(--Heading-Border-Height) * 12);
    margin-left:var(--Heading-Border-Height);
}

.c14:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -8);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-3);
}

.c14 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 4) solid var(--Heading-Border);
    border-bottom:var(--Heading-Border-Height) solid var(--Heading-Border-Shadow-2);
}

.c15 {
    margin-top:calc(var(--Heading-Border-Height) * 13);
    margin-left:calc(var(--Heading-Border-Height) * 0);
}

.c15:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -7);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-3);
}

.c15 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 2);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 4) solid var(--Heading-Border);
    border-bottom:0px solid transparent;
}

.c16 {
    margin-top:calc(var(--Heading-Border-Height) * 14);
    margin-left:calc(var(--Heading-Border-Height) * -1);
}

.c16:after {
    content:"";
    position:absolute;
    margin-top:calc(var(--Heading-Border-Height) * -6);
    width:var(--Heading-Border-Height);
    height:var(--Heading-Border-Height);
    background:var(--Heading-Border-Shadow-3);
}

.c16 .stumpy {
    width:var(--Heading-Border-Height);
    height:calc(var(--Heading-Border-Height) * 1);
    background:var(--Heading-Border-Shadow-3);
    border-top:calc(var(--Heading-Border-Height) * 4) solid var(--Heading-Border);
    border-bottom:0px solid transparent;
}
